<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/favicon/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/favicon/favicon.ico">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>Rawjet |Project Detail |Pandori</title>
</head>
<body>
    <section class="project-detail">
        <a href="../index.html" class="back-btn">← Back</a>

        <h1>Pandori School Management</h1>

        <img src="../public/images/pandori.png" alt="Pandori">

        <p class="desc">
            Full-stack school management system with authentication and role-based dashboards.
        </p>

        <div class="tech">
            <span>Node</span>
            <span>MongoDB</span>
            <span>JWT</span>
            <span>Cloudinary</span>
        </div>

        <div class="buttons">
            <a href="#">Live</a>
            <a href="#">GitHub</a>
        </div>

        </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js" integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/ScrollTrigger.min.js" integrity="sha512-P2IDYZfqSwjcSjX0BKeNhwRUH8zRPGlgcWl5n6gBLzdi4Y5/0O4zaXrtO4K9TZK6Hn1BenYpKowuCavNandERg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="../public/javascripts/script.js"></script>
</body>
</html>