<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/favicon/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/favicon/favicon.ico">
    <link rel="manifest" href="../public/favicon/site.webmanifest">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/details.css">
    <title>Tejwardeep Singh | Project Detials| RouteRakshak</title>
</head>
<body>

  <div class="main">

    <!-- HERO -->
    <section class="hero">
      <div class="hero-left">
        <h1>Route Rakshak</h1>

        <div class="tags">
          <span>#node</span>
          <span>#express</span>
          <span>#mongodb</span>
        </div>

        <p class="tagline">
          A full-stack civic-tech platform for complaint management and 
          ward performance analytics.
        </p>
      </div>

      <div class="hero-right">
        <img src="../public/images/routeRakshak.png" alt="">
      </div>
    </section>

    <!-- GRID SECTION -->
    <section class="grid">

      <!-- WHAT I BUILT -->
      <div class="card">
        <h2>What I Built</h2>
        <p>
          Developed a civic-tech platform enabling efficient complaint handling 
          and real-time ward performance tracking.
        </p>
      </div>

      <!-- FEATURES -->
      <div class="card">
        <h2>Features I Built</h2>
        <ul>
          <li>Complaint Tracking System</li>
          <li>Admin Dashboard</li>
          <li>Ward Analytics</li>
        </ul>
      </div>

      <!-- PROBLEM -->
      <div class="card">
        <h2>The Problem</h2>
        <p>
          Lack of transparency and inefficient complaint handling in urban systems.
        </p>
      </div>

      <!-- NUMBERS -->
      <div class="card numbers">
        <div><h3>20+</h3><p>Complaints</p></div>
        <div><h3>5+</h3><p>Modules</p></div>
        <div><h3>3</h3><p>Roles</p></div>
      </div>

      <!-- TECH -->
      <div class="card">
        <h2>Tech Stack</h2>
        <p>Node.js • Express • MongoDB • QGIS</p>
      </div>

      <!-- LINKS -->
      <div class="card links">
        <a href="#">GitHub</a>
        <a href="#">Live Demo</a>
      </div>

    </section>

  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js" integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/ScrollTrigger.min.js" integrity="sha512-P2IDYZfqSwjcSjX0BKeNhwRUH8zRPGlgcWl5n6gBLzdi4Y5/0O4zaXrtO4K9TZK6Hn1BenYpKowuCavNandERg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="../public/javascripts/script.js"></script>
</body>
</html>