<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/favicon/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/favicon/favicon.ico">
    <link rel="manifest" href="../public/favicon/site.webmanifest">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/details.css">
    <title>Tejwardeep Singh | Project Detials| RouteRakshak</title>
</head>
<body>
  <div class="case">

 
  <section class="case-hero">

  <div class="hero-text">
    <h1>Route Rakshak</h1>

    <p class="subtitle">
      Civic-tech platform improving complaint management 
      and enabling data-driven governance.
    </p>

    <div class="buttons">
      <a href="#">Live Demo</a>
      <a href="#">Admin Panel</a>
      <a href="#">GitHub</a>
    </div>
  </div>

  <div class="hero-image">
    <img src="../public/images/routeRakshak.png">
  </div>

</section>



  <section class="case-section split">

  <div>
    <h2>Problem</h2>
    <p>
      Complaint systems lack transparency and tracking.
      Citizens remain unaware of progress.
    </p>
  </div>

  <div>
    <h2>Solution</h2>
    <p>
      Built a centralized platform with real-time tracking
      and ward-level analytics.
    </p>
  </div>

</section>


 
  <section class="case-section">
    <h2>Solution</h2>
    <p>
      Built a centralized platform where citizens can register complaints, track progress,
      and authorities can analyze ward performance through structured data.
    </p>
  </section>


 
  <section class="case-section">
  <h2>Workflow</h2>

  <div class="workflow">
    <div>Submit Complaint</div>
    <div>Database Storage</div>
    <div>Admin Review</div>
    <div>Status Update</div>
  </div>
</section>


  <section class="case-section">
    <h2>Key Features</h2>
    <ul>
      <li>Complaint tracking system</li>
      <li>Admin dashboard</li>
      <li>Ward performance analytics</li>
      <li>Secure authentication</li>
    </ul>
  </section>



  <section class="case-section">
    <h2>Tech Stack</h2>
    <p>Node.js • Express • MongoDB • Mongoose • QGIS</p>
  </section>


 
  <section class="case-section">
    <h2>Screenshots</h2>

    <div class="images">
      <img src="../public/images/routeRakshak.png">
      <img src="../public/images/routeRakshak.png">
    </div>
  </section>



  <section class="case-section">
    <h2>What I Learned</h2>
    <p>
      Improved backend architecture skills, learned real-time data handling,
      and gained experience building scalable civic-tech systems.
    </p>
  </section>

</div>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js" integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/ScrollTrigger.min.js" integrity="sha512-P2IDYZfqSwjcSjX0BKeNhwRUH8zRPGlgcWl5n6gBLzdi4Y5/0O4zaXrtO4K9TZK6Hn1BenYpKowuCavNandERg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="../public/javascripts/script.js"></script>
</body>
</html>